.patrat{
    width: 200px;
    height: 200px;
    background-color: red;
}

.patrat2{
    width: 200px;
    height: 200px;
    background-color: yellow;
}



.patrat3{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.patrate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}