/*
.rama{
    width: 100px;
    height: 100px;
    background-color: lightgray;

    border-bottom: 4px double rgb(124,225,411);
    border-left: 4px dotted #4855ff;
    border-top: 4px solid rgba(143,124,365,0.33);
    border-right: 4px groove yellow;
    border-radius: 30px 50px 75px;
}

.limon{
    width: 100px;
    height: 100px;
    background:yellow ;

    border:1px solid;
    border-radius: 75px 15px;
}*/

*{
    color:red;
}

h3 + p{
    color:yellow
}
h1 ~ p{
    color:green;
}

h1,h2,h3{
    color: yellow;
}

/*.parinte>nepot .nepot>p{
    color: fuchsia;
}*/

.parinte p {
    color: pink;
}
a[href="https://999.md/ro/"]{
    color:blue;
}
a[href="https://maximum.md/ro/"]{
    color:violet;
}
/*a[href="https://www.amazon.com/"]{
    color:Yellow;
}*/

a[href$=".com"]{
    color:orange;
}

li::before{
    content: "Marius ";
}

li::after{
    content: " :D";
}

p::first-letter{
    font-size: 40px;
}

p::first-line{
    background-color: blue;
    color: #12a98a;
}

p::selection{
    background-color: green;
    color:blue;
}

a:hover{
    color: darkred;
}
a:link{
    color: #0fc184;
}

a:visited{
    color: gray;
}

a:hover{
    color: #d20056;
}

a:active{
    color: #6f9809;
}

p:empty{
    height: 20px;
    background-color:  #d20056;
}
/*
h1:first-child{
    color: #1ccfc9;
}*/

h1:first-of-type{
    color: #1ccfc9;
}